
:root {
  --font-family: "Montserrat", "Arial", sans-serif;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-blue: #4299e1;
  --color-light-blue: #90cdf4;
  --color-yellow: #fbd38d;
  --section-indent: 15px;
  --burger-width: 50px;
  --burger-height: 18px;
  --burger-line-height: 2px;
  --transition-delay: 0.3s ease-in-out; 
}

@mixin desktop {
  @media (min-width: (1440px)) {
    @content;
  }
}

@mixin desktop-small {
  @media (max-width: (1024px)) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: (1023px)) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: (767px)) {
    @content;
  }
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Bold.woff2");
  font-weight: 700;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: var(--font-family);
  color: var(--color-black);
  background-color: var(--color-white);
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.scroll-lock {
  position: fixed;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.btn-reset {
  padding: 0;

  background: transparent;
  border: none;
  cursor: pointer;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;

  &--columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__wrapper {
    width: 48%;

    @include mobile {
      width: 100%;
    }
  }
}

.section-indent {
  margin-bottom: 20px;
  padding: var(--section-indent) 0;
}

.open-menu {
  &.header {
    min-height: 100vh;
    overflow-y: auto;
  }

  .header__inner {
    position: relative;
  }

  .nav {
    display: block;
  }

  .header__burger.burger {
    position: absolute;
  }
}

.title,
.subtitle,
.caption,
.subcaption {
  margin: 0;
}

.title {
  position: relative;
  max-width: 200px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.5;

  &::after {
    position: absolute;
    left: 0;
    bottom: -17px;
    content: "";
    width: 51px;
    height: 9px;
    border-radius: 64px;
    background-color: var(--color-light-blue);
  }

  &__uppercase {
    text-transform: uppercase;
  }

  @include tablet {
    font-size: 32px;
  }
}

.subtitle {
  margin-bottom: 15px;
  font-size: 26px;
  line-height: 1.3;

  @include tablet {
    font-size: 24px;
  }
}

.caption {
  font-size: 16px;
  line-height: 1.3;
  text-transform: uppercase;

  @include tablet {
    font-size: 15px;
  }
}

.subcaption {
  font-size: 14px;
  line-height: 1.2;
}

.header {
  padding: 40px 0;

  &__burger {
    display: none;
    margin: 0 auto;

    @media (max-width: 845px) {
      position: absolute;
      display: block;
      top: 0;
      right: 0;
    }
  }
}

.burger {
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: var(--color-blue);
  background-color: transparent;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: calc(100% - var(--burger-line-height));
  }

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
  }

  &--active {
    &::before {
      top: 50%;
      transform: rotate(45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    &::after {
      top: 50%;
      transform: rotate(-45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    .burger__line {
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }
  }
}

.list {

  &__item {
    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }

  &__name {
    margin: 0;
  }

  &__date {
    display: block;
    margin-bottom: 7px;
    font-size: 18px;
    color: var(--color-blue);
  }

  &__link {
    display: block;
    color: var(--color-blue);
    opacity: 1;
    transition: opacity var(--transition-delay);

    &:hover {
      opacity: 0.6;
    }
  }

  &__text {
    margin: 0;
  }
}

.nav {

  &__list {
    display: flex;
    flex-wrap: wrap;
    
    @media (max-width: 845px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__list-item {
    &:not(:last-child) {
      margin-right: 25px;

      @media (max-width: 900px) {
        margin-right: 15px;
      }

      @media (max-width: 845px) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }

  &__list-link {
    display: block;
    padding: 10px 5px;
    font-weight: 700;
    transition: transform var(--transition-delay);

    &:hover {
      opacity: 1;
      transform: scale(1.195);
    }
  }

  @media (max-width: 845px) {
    display: none;
  }
}

.summary {

  &__text {
    max-width: 511px;
    margin: 0;
    font-size: 24px;
    line-height: 1.3;

    &--highlight {
      font-weight: 700;
      color: var(--color-blue);
    }

    @include tablet {
      font-size: 20px;
    }
  }
}

.languages {

  &__list-name {
    margin: 0;
    text-transform: capitalize;
  }

  &__list-text {
    font-weight: 700;
    text-transform: uppercase;

    @include tablet {
      font-size: 14px;
    }
  }
}

.code {
  margin-bottom: 0;
  overflow: hidden;

  &__snippet {
    max-height: 215px;
    margin: 0;
    transform: translateX(-122px);

    @include tablet {
      font-size: 14px;
      transform: translateX(-105px);
    }

    @include mobile {
      font-size: 11px;
      transform: translateX(-83px);
    }
  }
}

.contacts {
  position: relative;
  padding-bottom: 25px;
  background-image: url("../assets/img/bg-img.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 82%;

  &::before {
    position: absolute;
    content: "";
    width: 83%;
    aspect-ratio: 1 / 1;
    left: 17%;
    border-radius: 50%;
    background-color: #bee3f8;
    z-index: -1;

    @include tablet {
      display: none;
    }
  }
  
  &__img-wrapper {
    width: 200px;
    height: 200px;
    margin-left: 90px;
    margin-bottom: 30px;
    border-radius: 50%;
    overflow: hidden;

    @media (max-width: 920px) {
      margin-left: 65px;
    }

    @include mobile {
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }

  &__img {
    object-position: 97% 146%;
    height: 222px;
    object-fit: none;
  }

  @include tablet {
    background-image: none;
  }

  @include mobile {
    display: none;
  }

  &--mobile {
    display: none;

    @include mobile {
      display: block;
    }
  }
}

.contacts-list {
  max-width: 390px;
  margin-left: 50px;

  &__item {
    border-radius: 64px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1),
                0 4px 6px rgba(0, 0, 0, 0.05);

    &:nth-child(odd) {
      color: #2b6cb0;
      background-color: var(--color-light-blue);

      .contacts-list__link:hover {
        color: invert($color: #2b6cb0);
      }
    }

    &:nth-child(even) {
      color: #b7791f;
      background-color: var(--color-yellow);

      .contacts-list__link:hover {
        color: invert($color: #b7791f);
      }
    }

    &:first-child {
      transform: translateX(-23px);
    }

    &:nth-child(2) {
      transform: translateX(20px);
    }

    &:nth-child(3) {
      transform: translateX(-10px);
    }

    &:last-child {
      transform: translateX(13px);
    }

    &:not(:last-child) {
      margin-bottom: 17px;
    }

    @include mobile {
      &:first-child,
      &:nth-child(2),
      &:nth-child(3),
      &:last-child {
        transform: none;
      }
    }
  }

  &__link {
    display: block;
    padding: 8px 28px;
    font-weight: 700;
    color: inherit;
    text-align: center;
    transition: color var(--transition-delay);

    &--address {
      pointer-events: none;
    }

    @include tablet {
      font-size: 14px;
    }
  }

  @include tablet {
    max-width: 360px;
  }

  @media (max-width: 920px) {
    margin-left: 12px;
  }

  @include mobile {
    margin: 0 auto;
  }
}

.education {

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 3%;
    max-width: 100%;
  }

  &__list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__caption {
    margin-bottom: 20px;
  }

  &__list-subcaption {
    min-height: 28px;
    font-size: 12px;
    text-align: center;

    @include tablet {
      min-height: 50px;
    }
  }

  &__list-date {
    font-size: 14px;

    @include tablet {
      min-height: 58px;
    }
  }

  &__img {
    width: 140px;
    height: auto;
  }
}

.skills {
  margin-bottom: 0;

  &__list-item {
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;

    &:first-child {
      background-image: url("../assets/img/icon-html-5.svg");
    }

    &:nth-child(2) {
      background-image: url("../assets/img/icon-css3.svg");
    }

    &:nth-child(3) {
      background-image: url("../assets/img/icon-javascript.svg");
    }

    &:nth-child(4) {
      background-image: url("../assets/img/logo-github.svg");
    }

    &:nth-child(5) {
      background-image: url("../assets/img/icon-gulp.svg");
    }

    &:nth-child(6) {
      background-image: url("../assets/img/icon-vscode.svg");
    }

    &:nth-child(7) {
      background-image: url("../assets/img/icon-figma.svg");
    }

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

.footer {
  margin-top: 20px;
  padding: 25px 0;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list-text {
    font-size: 32px;
    line-height: 1;
    font-weight: 700;

    @include mobile {
      font-size: 26px;
    }
  }

  &__img--github {
    @include tablet {
      width: 50px;
    }

    @include mobile {
      width: 40px;
    }
  }

  &__img--rs {
    @include tablet {
      width: 100px;
    }

    @include mobile {
      width: 90px;
    }
  }
}
